/* SECRET FONT */

@font-face {
    font-family: 'SecretFont Regular';
    src: url('SecretFont Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SecretFont Bold';
    src: url('SecretFont Bold.ttf') format('truetype');
}

.sf-regular {
    font-family: 'SecretFont Regular', sans-serif;
}

.sf-bold {
    font-family: 'SecretFont Bold', sans-serif;
}

/* MONTSERRAT FONT */

@font-face {
    font-family: 'Montserrat Regular';
    src: url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url('Montserrat-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: bold;
}

.montserrat-regular {
    font-family: 'Montserrat Regular', sans-serif;
}

.montserrat-bold {
    font-family: 'Montserrat Bold', sans-serif;
}

/* Tahome Font */

@font-face {
    font-family: 'Tahoma Regular';
    src: url('Tahoma.ttf') format('truetype');
}

@font-face {
    font-family: 'Tahoma Bold';
    src: url('Tahoma Bold.ttf') format('truetype');
}

.tahoma-regular {
    font-family: 'Tahoma Regular', sans-serif;
}

.tahoma-bold {
    font-family: 'Tahoma Bold', sans-serif;
}