.in-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tech-logo-container {
    position: relative;
    display: inline-block;
    margin: 10px 20px;
}

.tech-logo-icon {
    width: 70px;
    height: auto;
    padding: 2px;
    margin-bottom: 20px;
}

.tech-logo-text {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--colordarkgrey);
    color: white;
    padding: 5px 10px;
    border-radius: 25px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
}