* {
  /* text-transform: lowercase; */
  color: white;
}

body {
  background-color: #0062f7;
}

/* Main container */
.container {
  color: white;
  display: flex;
  max-width: 90vw;
  margin: 0 auto;
  padding: 2rem;
  flex-direction: column;
}

/* Benzin Font */
@font-face {
  font-family: 'Benzin Bold';
  src: url('../Assets/Fonts/Benzin Bold.ttf') format('truetype');
}

.benzin-font {
  font-family: 'Benzin Bold', sans-serif;
}

h1 {
  font-family: 'Benzin Bold';
  src: url('../Assets/Fonts/Benzin Bold.ttf') format('truetype');
  font-size: 3rem;
}

#home,
#discography,
#beats,
#contact {
  padding-top: 20px;
  /* Adjust the value as needed */
}

.section {
  scroll-behavior: smooth;
  transition-duration: 5s;
}