html,
body {
  width: 100%;
  height: 100%;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

/* Content Styles */
.content {
  padding: 2rem;
  background-color: white;
  margin-top: -100vh;
  /* Move the content up by the height of the viewport */
}

.section {
  scroll-behavior: smooth;
  transition-duration: 5s;
}