* {
  color: #292c33;
}

body {
  background-color: #f2f2f2;
  font-family: 'Benzin Bold', sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

/* Banner Section */
.banner-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* Add overlay */
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the opacity as needed */
  }
}

.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.banner-title {
  color: white;
}

.banner-subtitle {
  color: white;
  font-size: larger;
}

/* Benzin Font */
@font-face {
  font-family: 'Benzin Bold';
  src: url('../Assets/Fonts/Benzin Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Benzin Regular';
  src: url('../Assets/Fonts/Benzin Regular.ttf') format('truetype');
}

.benzin-bold {
  font-family: 'Benzin Bold', sans-serif;
}

.benzin-regular {
  font-family: 'Benzin Regular', sans-serif;
}

h1 {
  font-family: 'Benzin Bold';
  font-size: 6rem;
}

/* Content Styles */
.content {
  padding: 2rem;
  background-color: white;
  margin-top: -100vh;
  /* Move the content up by the height of the viewport */
}

.section {
  scroll-behavior: smooth;
  transition-duration: 5s;
}