* {
  color: #292c33;

}

body {
  background-color: #f2f2f2;
  font-family: 'Benzin Bold', sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}

html,
body {
  width: 100%;
  height: 100%;
}

/* Main container */
.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

/* Banner Section */
.banner-section {
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.banner-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

/* Benzin Font */
@font-face {
  font-family: 'Benzin Bold';
  src: url('../Assets/Fonts/Benzin Bold.ttf') format('truetype');
}

.benzin-font {
  font-family: 'Benzin Bold', sans-serif;
}

h1 {
  font-family: 'Benzin Bold';
  font-size: 3rem;
}


/* Content Styles */
.content {
  padding: 2rem;
  background-color: white;
  margin-top: -100vh;
  /* Move the content up by the height of the viewport */
}

.section {
  scroll-behavior: smooth;
  transition-duration: 5s;
}