@font-face {
    font-family: 'SecretFont Bold';
    src: url('../assets/fonts/SecretFont Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'SecretFont Regular';
    src: url('../assets/fonts/SecretFont Regular.ttf') format('truetype');
}

.sf-bold {
    font-family: 'SecretFont Bold', sans-serif;
}

.sf-regular {
    font-family: 'SecretFont Regular', sans-serif;
}

h1 {
    font-family: 'SecretFont Bold';
    font-size: 6rem;
}