* {
    color: #16140f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f2f2f2;
    font-family: 'Benzin Bold', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}