* {
    color: #f2f2f2;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #f2f2f2; */
    /* background-color: #16140f; */
    background-color: #285943;
    font-family: 'Benzin Bold', sans-serif;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}