.container {
    display: flex;
}

.content {
    flex-grow: 1;
    /* margin-left: 200px; */
}

.navbar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #ffffff;

    width: 200px;

    position: fixed;
    top: 0;
    left: 0;
}

.navbar-logo {
    width: 80px;
    /* margin: 1rem 0rem; */
}

.navbar-links {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 1rem;
    width: 100%;
}

.navbar-links li {
    margin-bottom: 1rem;
}

.navbar-links a {
    text-decoration: none;
    color: #ffffff;
}

.navbar-links a.active {
    text-decoration: none;
    position: relative;
}

ul {
    display: flex;
    align-items: end;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 100vh;
}

.navbar-links li {
    /* margin: 8px 0; */
    transition: all 0.3s ease;
}

.navbar-links li a {
    font-size: 12px;
    color: #777;
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-links li a.active {
    font-size: 16px;
    color: #ffffff;
}

.navbar-links li a:hover {
    color: #ffffff;
    font-size: 14px;
}