.read-more-button {
  text-decoration: none;

  font-size: 1rem;

  color: #000;
  
  background-color: #E2E2E2;
  backdrop-filter: blur(3px);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  border: 1px solid #00000040;

  margin: 18px 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-more-button:hover {
  background-color: #0000dc;
  color: #fff;
  animation: stretchJiggle 0.5s;
}