.project-card {
  display: flex;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
}

.project-card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px
}

.header-image img {
  aspect-ratio: 4/3;
  background-color: #909090;
  border-radius: 30px;

  width: auto;
  height: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow: hidden;
}

.project-card h1 {
  color: #000;
  /* font-size: 1.5rem; */
  font-weight: 900;
}

.project-card h3 {
  color: #4b4b4b;
  font-size: 0.9rem;
  font-weight: 900;
}

.project-card p {
  color: #616161;
}

.keyword {
  display: inline-block;
  padding: 2px 10px;
  margin: 2px;
  border: 1px solid #00000040;
  font-size: 0.8rem;
  color: white
}