.projects-section-container {
  padding: 50px 10vw;
}

.projects-section-container h1 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 20px;
}

.projects-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.read-more-link {
  text-decoration: none;

  font-size: 1rem;

  background-color: #E2E2E2;
  backdrop-filter: blur(3px);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: 30px;
  border: 1px solid #00000040;

  margin: 18px 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.read-more-link:hover {
  background-color: #0000dc;
  color: #fff;
  animation: stretchJiggle 0.5s;
}

@keyframes stretchJiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scaleY(1.1) scaleX(1);
  }

  50% {
    transform: scaleY(0.9) scaleX(1.05);
  }

  75% {
    transform: scaleY(1.1) scaleX(1);
  }

  100% {
    transform: scale(1);
  }
}