.projects-grid {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-items: flex-start;
}

.project-card-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media screen and (max-width: 1120px) {
  .projects-grid {
    justify-items: center;
  }

  .project-card-container {
    display: flex;
    flex-direction: column;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header-image img {
    width: 100%;
    height: auto;
  }
}

.project-card {
  display: flex;
  width: 100%;
  background-color: var(--colorwhite)f;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 20px;
  box-shadow: var(--shadow);
}

.project-card-description {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0px 20px;
}

.header-image {
  display: flex;
  justify-content: center;
}

.header-image img {
  aspect-ratio: 4/3;
  background-color: var(--colorlightgrey);
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.project-card h1 {
  color: #000;
  font-weight: 900;
}

.project-card h3 {
  color: #4b4b4b;
  font-size: 0.9rem;
  font-weight: 900;
}

.project-card p {
  color: #616161;
}

.project-small-icon {
  width: auto;
  height: 40px;
  margin-right: 0.5em;
}

.link-and-icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}