.my-profile {
    padding: 30px;
    margin-bottom: 16px;
    box-shadow: var(--shadow);
    background-color: var(--colorwhite);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
    transition: top 0.3s ease, position 0.3s ease;
}

.about-me-images {
    transition: all 0.3s ease;
}

.about-me-images img {
    transition: all 0.3s ease;
    max-width: 300px;
}

.about-me-info p {
    font-size: 1.1em;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
}

.social-media-icons svg {
    fill: var(--colorlightgrey);
    width: 2.5em;
    margin: 0.2em 1em 0.2em 0em;
}


/* For mobile only */
/* ========================================== */
@media screen and (max-width: 1200px) {
    .about-me-images img {
        max-width: 300px;
        margin-right: 80px;
    }

    .my-profile {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1175px) {
    .about-me-images img {
        max-width: 200px;
        margin-right: 40px;
    }
}

/* For even smaller mobile */
/* ========================================== */
@media screen and (max-width: 600px) {
    .about-me-images img {
        max-width: 350px;
        margin-right: 0px;
    }

    .my-profile {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .about-me-images img {
        max-width: 220px;
    }
}