.navlink-container {
    width: 100%;
    display: flex;
}

.navlink-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.navlink-ul.prevent-overflow {
    height: auto;
    overflow: hidden;
}

/* "ul" specifically edits the entire list */
ul {
    height: 56px;
    line-height: 56px;

    margin: 0;
    padding: 0;

    text-align: center;

    position: relative;
    display: inline;
}

ul li .active {
    color: var(--nav-link-active);
}

/* "ul li a" specifically edits the String inside the >< brackets*/
ul li a {
    color: var(--nav-link);
    text-decoration: none;
    font-size: 45px;
}

ul li a:hover {
    color: var(--nav-link-hover);
}

/* For iPads and iPhones*/
@media only screen and (min-width: 300px) and (max-width: 499px) {
    .navbar-ul {
        line-height: 35px;
    }

    ul li a {
        font-size: 35px;
    }
}

/* For foldable phones */
@media only screen and (max-width: 299px) {
    .navbar-ul {
        line-height: 35px;
    }

    ul li a {
        font-size: 35px;
    }
}

/* Desktop nav links */
.navlink-ul-desktop {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

.navlink-ul-desktop li a {
    color: var(--nav-link);
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navlink-ul-desktop li a:hover {
    color: var(--nav-link-hover);
}

.navlink-ul-desktop li .active {
    color: var(--nav-link-active);
}