.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.brand-text {
  color: #181818;
  font-size: 20px;
  font-weight: 600;
}

.navbar.float-dock .brand-text {
  color: #181818;
}

.navbar.scrolled .brand-text {
  color: #eaeaea;
}