@media only screen and (max-width: 768px) {
    .navbar {
        background-color: white;
        overflow: hidden;

        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 20px;

        transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease;
    }

    .navbar.scrolled {
        background-color: rgba(222, 222, 222, 0.9);

        display: flex;
        flex-direction: column;

        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        margin-left: 10%;
        margin-right: 10%;

        transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        border-radius: 1.75em;
    }

    .navbar.float-dock {
        background-color: rgba(222, 222, 222, 0.9);

        display: flex;
        flex-direction: column;

        width: 80%;
        padding: 0 40px;
        margin-left: 10%;
        margin-right: 10%;

        transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

        border-radius: 1.75em;
    }

    .navbar {
        flex-direction: column;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        align-items: center;
    }

    .mobile-view img {
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar-nav {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* Navbar is closed */
    .navbar-nav.closed {
        height: auto;
        overflow: hidden;
    }

    /* Navbar is open */
    .navbar-nav.collapsed {
        height: auto;
        overflow-y: visible;
    }

    ul li {
        height: auto;
        display: block;
    }

    ul li a {
        font-size: 60px;
    }

    .navlink-wrapper {
        width: 100%;
        display: flex;
    }
}