ul {
  height: 56px;
  line-height: 56px;

  margin: 0;
  padding: 0;

  text-align: center;

  position: relative;
  display: inline;
}

ul li a {
  color: #919191;
  text-decoration: none;
}

ul li a:hover {
  color: #ffffff;
}