.navbar-animation {
    transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease, color 0.3s ease;
}

.navbar {
    background-color: rgba(17, 17, 17, 0.9);
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 56px;
    width: 300px;

    padding: 0 20px;
    margin: 8px auto 0 auto;

    line-height: 56px;

    border: 1px solid #343434;
    border-radius: 20px;
}

.mobile-view {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.mobile-view img {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* MEDIA QUERIES */

/* Desktop */
@media only screen and (min-width: 768px) {
    .navbar-clock {
        color: #919191;
        font-size: 0.75rem;
        font-weight: 400;
        white-space: nowrap;
        margin-left: 10px;
        position: relative;
        top: 2px;
    }

    .navbar.navbar-desktop {
        width: 700px;
        flex-direction: row;
        align-items: center;
        height: 40px;
        overflow: visible;
    }

    .navbar-desktop .navbar-container {
        width: 100%;
        align-items: center;
    }
}

@media only screen and (min-width: 1024px) {
    .navbar.navbar-desktop {
        width: 900px;
    }
}

/* For tablets */
@media only screen and (min-width: 300px) and (max-width: 767px) {
    .navbar {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* For foldable phones */
@media only screen and (max-width: 299px) {
    .navbar {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}