/* For tablets */
@media only screen and (min-width: 300px) and (max-width: 499px) {
    .navbar {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    ul li a {
        font-size: 30px;
    }

    .navbar-nav {
        line-height: 40px;
    }
}

/* For foldable phones */
@media only screen and (max-width: 299px) {
    .navbar {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    ul li a {
        font-size: 25px;
    }

    .navbar-nav {
        line-height: 35px;
    }
}