/* ANIMATION */
.navbar-animation {
    transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease, color 0.3s ease;
}

.slide-down {
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

/* EVERYTHING ELSE NAVBAR */
.navbar {
    background-color: rgba(17, 17, 17, 0.9);
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 56px;
    width: 300px;

    padding: 0 20px;
    margin: 8px auto 0 auto;

    line-height: 56px;

    border: 1px solid #343434;
    border-radius: 20px;
}

.navbar.collapsed {
    height: 0;
}

.mobile-view {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.mobile-view img {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}