ul {
  height: 56px;
  line-height: 56px;
  margin: 0;
  padding: 0;
  text-align: center;
}

ul li {
  position: relative;
  display: inline;
  margin-right: 20px;
  color: #181818;
}

ul li:last-child {
  margin-right: 0;
}

ul li a {
  text-decoration: none;
}

ul li a:hover {
  color: #0000dc;
}

.nav-item.highlight {
  position: relative;
}

.nav-item.highlight::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #0000dc;
  border-radius: 25px;
}

.navbar.float-dock ul li a {
  color: hsl(0, 0%, 57%);
}

.navbar.float-dock ul li a:hover {
  color: hsl(0, 0%, 100%);
}