@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10px;
        transition: width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease;
        /* Add height transition */
        padding-left: 40px;
        padding-right: 40px;
        overflow: hidden;
        /* Hide overflow content */
        /* height: 64px; */
        /* height: 50vh; */
        /* Initial height */
    }

    .navbar.scrolled {
        display: flex;
        flex-direction: column;
    }

    .navbar.scrolled {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        transition: width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease;
    }

    .navbar {
        flex-direction: column;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        align-items: center;
    }

    .mobile-view img {
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar-nav {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }

    .navbar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    /* Navbar is closed */
    .navbar-nav.closed {
        height: auto;
        overflow: hidden;
    }

    /* Navbar is open */
    .navbar-nav.collapsed {
        height: auto;
        overflow-y: visible;
    }

    ul li {
        height: auto;
        display: block;
        margin: 0 10px;
    }

    .navlink-wrapper {
        width: 100%;
        display: flex;
    }   
}