.navbar {
    background-color: #fefefe;
    overflow: hidden;
    height: 64px;
    line-height: 64px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    padding-left: 40px;
    padding-right: 40px;

    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 10px;

    transition: width 0.5s ease, margin 0.5s ease, box-shadow 0.5s ease, border-radius 0.5s ease;

    backdrop-filter: blur(10px);

    border-radius: 0px;
}

.navbar.scrolled {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;

    transition: width 0.5s ease, margin 0.5s ease, box-shadow 0.5s ease, border-radius 0.5s ease;

    backdrop-filter: blur(5px);

    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    border-radius: 25px;
}

.nav-item.highlight {
    position: relative;
}

.nav-item.highlight::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 4px;
    background-color: #4f82c5;
}

.brand {
    color: #181818;
    font-size: 30px;
    font-weight: 600;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul {
    height: 64px;
    line-height: 64px;
    margin: 0;
    padding: 0;
    text-align: center;
}

ul li {
    display: inline;
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    text-decoration: none;
    color: #181818;
    font-size: 16px;
    position: relative;
}

ul li.non-highlight a:hover::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 2px;
    background-color: #4f82c5;
}

/* Highlighted Link Style */
ul li.highlight a {
    background-color: white;
    color: #0B2027;
    border-radius: 15px;
    padding: 5px 15px;
}

ul li.highlight a:hover {
    background-color: #042A2B;
    color: white;
}

ul li.highlight a:hover::after {
    content: '';
    display: hidden;
}

.brand.logo-home {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    position: relative;
}

.brand-text {
    color: #181818;
    font-size: 30px;
    font-weight: 600;
}

.mobile-view {
    display: none;
}

@media only screen and (max-width: 768px) {
    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        align-items: center;
    }

    .mobile-view img {
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul li {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }

    .navbar {
        padding-right: 10px;
    }
}