.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.brand-text {
  color: #181818;
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (min-width: 750px) {
  .brand-text {
    font-size: 28px;
  }
}

.navbar.float-dock .brand-text {
  color: #181818;
}

.navbar.scrolled .brand-text {
  color: #eaeaea;
}

@media screen and (max-width: 750px) {
  .brand-text {
    display: none;
  }

  .brand-text-full {
    display: block;
  }
}

@media screen and (min-width: 751px) {
  .brand-text {
    display: block;
  }

  .brand-text-full {
    display: none;
  }
}