.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.brand-text {
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

@media only screen and (min-width: 750px) {
  .brand-text {
    font-size: 28px;
  }
}