.navbar-animation {
    transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease, color 0.3s ease;
}

.slide-down {
    animation: slideDown 0.5s ease;
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

.navbar {
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 56px;
    line-height: 56px;
    width: 100%;
    padding: 0 10%;
    margin: 16px 0;
}

.navbar.float-dock {
    background-color: rgba(17, 17, 17, 0.9);
    border: 1px solid #343434;
    color: #FFFFFF;

    padding: 0 20px;

    height: 56px;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;

    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    border-radius: 20px;
}

.navbar.collapsed {
    height: 0;
}

.navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.mobile-view {
    display: none;
}