.navbar-animation {
    transition: background-color 0.3s ease, width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease, height 0.3s ease, color 0.3s ease;
}

.navbar {
    background-color: rgba(17, 17, 17, 0.9);
    color: #FFFFFF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);

    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: fixed;

    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    height: 56px;
    width: 300px;

    padding: 0 20px;
    margin: 8px auto 0 auto;

    line-height: 56px;

    border: 1px solid #343434;
    border-radius: 20px;
}

.navbar.minimized {
    height: 0;
}

.mobile-view {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}

.mobile-view img {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* MEDIA QUERIES */

/* For tablets */
@media only screen and (min-width: 300px) and (max-width: 499px) {
    .navbar {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }
}

/* For foldable phones */
@media only screen and (max-width: 299px) {
    .navbar {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}