.brand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.brand-text {
    color: #181818;
    font-size: 20px;
    font-weight: 600;
}

.brand-text:hover {
    color: #0000dc;
}