nav {
    background-color: #333;
    height: 64px;
    position: relative;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle.active .hamburger:before {
    transform: rotate(-45deg);
    top: 0;
}

.menu-toggle.active .hamburger:after {
    transform: rotate(45deg);
    bottom: 0;
}

.hamburger {
    background-color: #fff;
    width: 30px;
    height: 3px;
    position: relative;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #fff;
    left: 0;
    transition: all 0.3s ease;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    text-align: center;
    z-index: 1;
}

.nav-list.active {
    display: block;
}

.nav-list li {
    display: inline;
    /* Display list items horizontally */
    margin: 0 10px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        /* Add padding for mobile view */
    }

    .menu-toggle {
        display: block;
    }

    .nav-list {
        display: none;
        /* Hide the nav links in mobile view */
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav-list.active {
        display: block;
    }

    .nav-list li {
        display: block;
        margin: 15px 0;
    }
}