/* For-Tablet-Landscape-up (Min-width: 900px) */
@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .navbar.float-dock {
        width: 60%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .desktop-view {
        display: flex;
    }
}

/* For-Tablet-Portrait-up  (Min-width: 750px) */
@media only screen and (min-width: 750px) and (max-width: 900px) {
    .navbar {
        overflow: hidden;
        height: 56px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .navbar.float-dock {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

/* For-Phones (Max-width: 749) */
@media only screen and (max-width: 749px) {
    .navbar {
        overflow: hidden;
        height: 56px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
    }

    .navbar.float-dock {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        backdrop-filter: blur(3px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border-radius: 1.75em;
    }

    .navbar,
    .desktop-view {
        flex-direction: column;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        align-items: center;
    }

    .mobile-view img {
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar-nav {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
    }
    
    .navbar-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .navbar-nav.closed,
    .navbar-nav.collapsed {
        height: auto;
        overflow: hidden;
    }

    ul li {
        height: auto;
        display: block;
    }

    ul li a {
        font-size: 30px;
    }

    .navlink-wrapper {
        width: 100%;
        display: flex;
    }
}

/* For foldable phones */
@media only screen and (max-width: 280px) {
    .navbar.navbar.float-dock {
        width: 80%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .brand-text {
        color: #181818;
        font-size: 24px !important;
        font-weight: 600;
    }
}