.brand {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

a.brand-text,
a.brand-text:visited,
a.brand-text:hover {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--ff-display);
  font-style: italic;
  text-decoration: none;
  cursor: pointer;
}

.mobile-view svg:hover {
  transform: scale(1) !important; 
}

.mobile-view svg rect {
  fill: #919191;
  transition: transform 0.3s ease;
}

/* svg hover */
.mobile-view svg:hover rect {
  fill: #fff;
}

.mobile-view svg.open rect:nth-child(1) {
  transform: translate(20px, -3.25px) rotate(45deg);
}

.mobile-view svg.open rect:nth-child(2) {
  opacity: 0;
}

.mobile-view svg.open rect:nth-child(3) {
  transform: translate(-30px, 25px) rotate(-45deg);
}