@media only screen and (max-width: 768px) {
    .navbar {
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 10px;
        transition: width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
        padding-left: 40px;
        padding-right: 40px;
    }

    .navbar.scrolled {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        transition: width 0.3s ease, margin 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
    }

    .desktop-view {
        display: none;
    }

    .mobile-view {
        display: flex;
        align-items: center;
    }

    .mobile-view img {
        margin-top: auto;
        margin-bottom: auto;
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ul li {
        display: inline;
        margin-left: 10px;
        margin-right: 10px;
    }
}