.hero-button {
  color: var(--colorwhite);
  font-size: 2rem;

  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  scale: 1.025;
}

.hero-button img {
  vertical-align: middle;
  transition: all 0.3s ease;
  transform: translateX(-5px);
}

.hero-button:hover img {
  transform: translateX(5px);
  transform: translateY(-5px);
  transition: all 0.3s ease;
}

@keyframes stretchJiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scaleY(1.1) scaleX(1);
  }

  50% {
    transform: scaleY(0.9) scaleX(1.05);
  }

  75% {
    transform: scaleY(1.1) scaleX(1);
  }

  100% {
    transform: scale(1);
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-buttons-container {
  display: flex;
  align-items: center;
}