.hero-button {
  font-size: 2rem;

  background-color: #E2E2E2;
  backdrop-filter: blur(3px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: row;
  align-items: center;

  border-radius: 30px;
  margin: 10px;
  padding: 10px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #0000dc;
  color: #fff;
  animation: stretchJiggle 0.5s;
}

.hero-button img {
  vertical-align: middle;
}

.hero-button:hover img {
  filter: invert(100%);
  transition: all 0.3s ease;
}

@keyframes stretchJiggle {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scaleY(1.1) scaleX(1);
  }

  50% {
    transform: scaleY(0.9) scaleX(1.05);
  }

  75% {
    transform: scaleY(1.1) scaleX(1);
  }

  100% {
    transform: scale(1);
  }
}

.buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-buttons-container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 500px) {
  .bottom-buttons-container {
    flex-direction: column;
  }
}