.overlay-container {
  background-color: #1C1C1C !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url('../../../../../public/images/DSC04733v3BW_cropped.jpg');
  background-size: cover;
  background-position: center;
}

.hero-animation {
  transition: font-size 0.3 ease, padding 0.3 ease, margin 0.3 ease, top 0.3s ease, left 0.3s ease;
}

.text-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 20px 0px 20px;
  margin-bottom: 100px;
}

.buttons-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 200px;
}

.overlay-text {
  text-align: start;
}

.overlay-text h1 {
  font-weight: 400;
  font-size: 3.5rem;
  color: #fff;
  display: inline-block;
}

.overlay-text h1 span {
  color: #fff;
  background-color: #0000dc;
  padding: 5px 15px;
  border-radius: 15px;
}

.overlay-text h2 {
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
  padding: 5px 15px;
}

.overlay-text h3 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #fff;
  padding: 5px 15px;
}

@media screen and (min-width: 426px) and (max-width: 768px) {
  .text-container {
    padding: 88px 10px 0px 10px;
    margin-bottom: 0;
  }

  .buttons-container {
    margin-top: 0;
  }

  .overlay-text h1 {
    font-size: 2.5rem;
  }

  .overlay-text h2 {
    font-size: 2rem;
  }

  .overlay-text h3 {
    font-size: 1.5rem;
  }

  .hero-button {
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width: 425px) {
  .text-container {
    padding: 88px 10px 0px 10px;
    margin-bottom: 0;
  }

  .buttons-container {
    margin-top: 0;
  }

  .overlay-text h1 {
    font-size: 1.8rem;
  }

  .overlay-text h2 {
    font-size: 1.8rem;
  }

  .overlay-text h3 {
    font-size: 1.25rem;
  }

  .hero-button {
    font-size: 1.5rem;
    margin: 5px;
    padding: 10px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
}