.overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-text {
  text-align: start;
  margin-bottom: 550px;
}

.overlay-text h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
}

.overlay-text h2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #fff;
}

.overlay-text h3 {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}