.hero-animation {
  transition: top 0.3s ease, left 0.3s ease;
}

.overlay-container {
  position: absolute;
  top: 2%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text-container {
  position: absolute;
  top: -2%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.buttons-container {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.overlay-text {
  text-align: start;
  margin-bottom: 450px;
}

.overlay-text h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
  background-color: #0000dc;
  display: inline-block;
}

.overlay-text h2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #fff;
}

.overlay-text h3 {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}