.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  position: relative;
  width: 100%;
  height: 100vh;

  background-image: url('../../../../../public/images/DSC04733v3BW_cropped.jpg');
  background-size: cover;
  background-position: center;
}

.hero-animation {
  transition: top 0.3s ease, left 0.3s ease;
}

.text-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 20px 0px 20px;
}

.buttons-container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.overlay-text {
  text-align: start;
}

.overlay-text h1 {
  font-weight: 400;
  font-size: 3rem;
  color: #fff;
  background-color: #0000dc;
  display: inline-block;
}

.overlay-text h2 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #fff;
}

.overlay-text h3 {
  font-weight: 400;
  font-size: 2rem;
  color: #fff;
}