.Sidebar {
    position: fixed;

    width: 60px;
    height: auto;
    top: 5%;
    padding: 5px;
    border-radius: 15px;

    background-color: rgba(34, 33, 33, 0.7);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);

    border: 1px solid rgba(79, 76, 76, 0.9);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1000;

    /* Animation */
    transition: left 0.5s ease 1s;
    left: -60px;
}

.Sidebar.active {
    left: 4px;
}

/* Represents the app icon */
.SidebarItem {
    margin: 5px 0 5px 5px;
    width: 45px;
    height: 45px;
    background-color: #4FB286;
    border-radius: 20%;

    flex-grow: 1;
}

.SidebarItem::before {
    content: '';
    position: absolute;
    left: 0.5px;
    bottom: 49.50%;
    transform: translateY(-50%);
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
}