.about-me-container {
  margin-top: 40px;
  display: flex;
  gap: 50px;
}

.about-me-text p {
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: 30px;
}

.github-calendar-container {
  display: flex;
  padding: 20px;
}

.github-calendar {
  width: 100%;
}

.about-me-images img {
  max-width: 300px;
}

@media screen and (min-width: 1175px) {
  .about-me-text {
    width: 60%
  }

  .github-calendar-container:hover {
    color: var(--colorblack);
    transition: all 0.3s ease;
    scale: 1.0025;
  }

  .about-me-text p {
    padding: 20px;
    color: var(--colorlightgrey2);
  }

  .about-me-text p:hover {
    color: var(--colorblack);
    transition: all 0.3s ease;
    scale: 1.0025;
  }
}

@media screen and (max-width: 1175px) {
  .about-me-text {
    width: 100%
  }

  .about-me-container {
    flex-direction: column;
    gap: 20px;
  }

  .about-me-images img {
    width: 40vw;
    margin-right: 80px;
  }

  .about-me-info-container {
    display: flex;
    flex-direction: row;
  }
}

@media screen and (max-width: 700px) {
  .about-me-info-container {
    flex-direction: column;
  }

}