.about-me-container {
  margin-top: 40px;
  display: flex;
  gap: 50px;
}

.about-me-text p {
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: var(--shadow);
  background-color: #fff;
  border-radius: 30px;
}

@media screen and (min-width: 1120px) {
  .about-me-text p {
    padding: 20px;
    color: var(--colorlightgrey2);
  }

  .about-me-text p:hover {
    color: var(--colorblack);
    transition: all 0.3s ease;
    scale: 1.0025;
  }
}

.about-me-images img {
  max-width: 400px;
}

@media screen and (max-width: 1120px) {
  .about-me-container {
    flex-direction: column;
    gap: 20px;
  }

  .about-me-images img {
    width: 50%;
  }

}