/* .my-profile-container {
  display: flex;
}

.about-cards-container {
  display: flex;
} */

.about-me-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.about-cards {
  padding: 20px;
  margin-bottom: 16px;
  box-shadow: var(--shadow);
  background-color: var(--colorwhite);
  border-radius: 30px;
  width: fit-content;
}

.github-calendar-container {
  display: flex;
}

.github-calendar {
  margin-top: 40px;
  width: 100%;
}

/* For Desktop only stuff */
/* ========================================== */
@media screen and (min-width: 1175px) {
  .section-container-child {
    padding: 0 10vw !important;
  }

  .about-me-text {
    width: 60%
  }

  .about-me-text p {
    padding: 20px;
    color: var(--colorlightgrey2);
  }

  .about-me-text p:hover {
    color: var(--colorblack);
    transition: all 0.3s ease;
  }
}

/* For mobile only */
/* ========================================== */
@media screen and (max-width: 1175px) {
  .github-calendar-container {
    display: none;
  }

  .about-me-text {
    width: 100%
  }

  .about-me-container {
    flex-direction: column;
    gap: 20px;
  }
}