.about-me-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.tech-logo-container {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
}

.tech-logo-icon {
  width: 70px;
  height: auto;
  padding: 2px;
  margin-bottom: 20px;
}

.tech-logo-text {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--colordarkgrey);
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  white-space: nowrap;
  font-size: 12px;
  z-index: 10;
}

/* For Desktop only stuff */
/* ========================================== */
@media screen and (min-width: 1175px) {
  .about-me-text {
    width: 60%
  }

  .about-me-text p {
    padding: 20px;
    color: var(--colorlightgrey2);
  }

  .about-me-text p:hover {
    color: var(--colorblack);
    transition: all 0.3s ease;
  }
}

/* For mobile only */
/* ========================================== */
@media screen and (max-width: 1175px) {
  .github-calendar-container {
    display: none;
  }

  .about-me-text {
    width: 100%
  }

  .about-me-container {
    flex-direction: column;
    gap: 20px;
  }
}