.footer-body {
    background-color: #0000ff;
    color: black;
    height: 100vh;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-title {
    display: flex;
    font-size: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
}