.footer-body {
    background-color: #0000dc;
    color: #ffffff !important;
    height: 100vh;
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    padding: 100px 2rem 2rem 2rem;
    display: flex;
}

.footer-title {
    display: flex;
    font-size: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.credit-text {
    color: #ffffff;
}

.blue-background {
    background-color: #0000dc;
}