.footer-body {
    background-color: #0000dc;
    color: #ffffff !important;
    height: auto;
    /* padding-top: 64px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.footer-content {
    padding: 20px 2rem;
    display: flex;
}

.footer-title {

    display: flex;
    font-size: auto;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    color: #ffffff;
}

.credit-text {
    font-size: 0.8em !important;
    color: #ffffff;
    padding: 0px 10vw;
}

.blue-background {
    background-color: #0000dc;
}