/* LAYOUT */
/* ============================= */
.LP-sections-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 24px;
}

@media screen and (max-width: 800px) {
    .LP-sections-container {
        padding: 0 20px;
    }
}
