.landing-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    /* To send it behind the text */
}

.carousel-content {
    padding: 0rem;
}

.zoom {
    position: sticky;
    top: 20vh;
    will-change: transform;
    transform: scale(2.2);
}

.image-container {
    position: relative;
    padding: 0rem;
    background-color: #0000dc;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    padding: 0 20px;
    border-radius: 10px;
    width: 80%;
}

.overlay-text h2 {
    font-size: 2rem;
    color: #fff;
}

.overlay-text p {
    font-size: 2rem;
    color: #fff;
}