.landing-image {
    width: 100%;
    height: 120vh;
    object-fit: cover;
}

.carousel-content {
    padding: 2rem 0;
}

.zoom {
    position: sticky;
    top: 20vh;
    will-change: transform;
    transform: scale(2.2);
}