.landing-image {
    width: 100%;
    /* height: calc(100vh - 88px); */
    height: 100vh;
    object-fit: cover;
}

.image-container {
    position: relative;
    padding: 0rem;
    background-color: #EBF2FA;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-content {
    padding: 0rem;
}

.zoom {
    position: sticky;
    top: 20vh;
    will-change: transform;
    transform: scale(2.2);
}