.landing-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.image-container {
    position: relative;
    padding: 0rem;
    background-color: #E2E2E2;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.carousel-content {
    padding: 0rem;
}

.zoom {
    position: sticky;
    top: 20vh;
    will-change: transform;
    transform: scale(2.2);
}

/* LAYOUT */
/* ============================= */
.LP-container {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "LP-my-profile-container LP-sections-container";
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    padding: 0rem;
    transition: all 0.5s ease;
}

.LP-my-profile-container {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.LP-sections-container {
    padding-top: 4rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

@media screen and (max-width: 1600px) {
    .LP-container {
        grid-template-columns: 0.8fr 1.2fr;
    }
}

@media screen and (max-width: 1100px) {
    .LP-container {
        display: block;
    }

    .LP-my-profile-container {
        display: flex;
        padding: 2rem 4rem 0rem 4rem;
        justify-content: start;
    }

    .LP-sections-container {
        padding-top: 0;
    }

    .my-profile {
        position: relative !important;
        top: 0 !important;
    }
}