/* GLOBAL CSS */
:root {
  /* FONTS */
  --ff: 'Inter Regular', sans-serif;
  --ffh1: 'Inter Bold', sans-serif;
  --ffh2: 'Inter Medium', sans-serif;
  --ffh3: 'Inter Light', sans-serif;

  /* COLORS */
  --colorwhite: #eeeeee;
  --colorblue: #0000dc;
  --colordarkgrey: #282828;
  --colorlightgrey: #4b4b4b;
  --colorblack: #000000;
  --colorgreen: #439775;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--colorwhite);
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font: 400 16px/1.5 var(--ff);
}

h1 {
  font: bold 3.375rem/3.375rem var(--ffh1);
  letter-spacing: -2px;
}

h2 {
  font: bold 3rem/2.375rem var(--ffh2);
  letter-spacing: -1px;
}

h3 {
  font: bold 2rem/2.375rem var(--ffh3);
}

h4 {
  font: bold 1.75rem/2rem var(--ffh3);
}

p {
  font: 400 16px/1.5 var(--ff);
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

.content {
  padding: 2rem;
}

::selection {
  background-color: var(--colorblue);
  color: var(--colorwhite);
}

.clickable {
  cursor: pointer;
}

hr {
  border: none;
  border-top: 2px solid var(--colordarkgrey);
  margin: 20px 0;
}

/* For all sections */

.section-container {
  padding: 50px 10vw;
  min-height: 100vh;
}

.section-container h1,
h2,
h3,
h4 {
  color: var(--colordarkgrey);
  margin-bottom: 20px;
}

.section-container p {
  color: var(--colorlightgrey);
}