* {
  color: #000000;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E2E2E2;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font-family: work-sans, sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

.content {
  padding: 2rem;
}

::selection {
  background-color: #000;
  color: #fff;
}