/* CUSTOM CSS */
:root {
  --ff: 'Inter Regular', sans-serif;
  --ffh1: 'Inter Bold', sans-serif;
  --ffh2: 'Inter Medium', sans-serif;
  --ffh3: 'Inter Light', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

body {
  font: 400 16px/1.5 var(--ff);
}

h1 {
  font: bold 3.375rem/3.375rem var(--ffh1);
  letter-spacing: -2px;
}

h2 {
  font: bold 3rem/2.375rem var(--ffh2);
  letter-spacing: -1px;
}

h3 {
  font: bold 2rem/2.375rem var(--ffh3);
}

h4 {
  font: bold 1.75rem/2rem var(--ffh3);
}

p {
  font: 400 16px/1.5 var(--ff);
}

html,
body {
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  margin: 0 auto;
}

.content {
  padding: 2rem;
}

::selection {
  background-color: #0000dc;
  color: #fff;
}

hr {
  border: none;
  border-top: 2px solid #000000;
  margin: 20px 0;
}

/* For all sections */

.section-container {
  padding: 50px 10vw;
  min-height: 100vh;
}

.section-container h1,
h2,
h3,
h4 {
  color: #282828;
  margin-bottom: 20px;
}

.section-container p {
  color: #4B4B4B;
}