.my-profile {
    padding: 20px;
    margin-bottom: 16px;
    box-shadow: var(--shadow);
    background-color: var(--colorwhite);
    border-radius: 30px;
    width: fit-content;
    height: fit-content;
}


.about-me-images {
    transition: all 0.3s ease;
}

.about-me-images img {
    max-width: 300px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
}

/* For mobile only */
/* ========================================== */
@media screen and (max-width: 1175px) {
    .my-profile {
        display: flex;
        flex-direction: row;
    }

    .about-me-images img {
        width: 30vw;
        margin-right: 80px;
    }

    .social-media-icons svg {
        fill: var(--colorlightgrey);
        width: 2.5em;
        margin: 0.2em 1em 0.2em 0em;
    }
}

/* For even smaller mobile */
/* ========================================== */
@media screen and (max-width: 700px) {
    .my-profile {
        flex-direction: column;
    }
}