.banner-section {
    /* position: sticky; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.banner-section:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.2); */
}

.banner-section img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.banner-title {
    color: white;
    font-size: 4rem;
}

.banner-subtitle {
    color: white;
    font-size: 1rem;
}