@font-face {
  font-family: 'Perfect DOS VGA 437';
  src: url('../../assets/fonts/Perfect DOS VGA 437.ttf') format('truetype');
}

.error-container {
  font-family: 'Perfect DOS VGA 437', sans-serif;
  background-color: #DC0000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10% 20%;
}

.error-container h1 {
  font-size: 50px;
  color: #fff;
}

.error-container p {
  font-size: 25px;
  color: #fff;
}

.home-button {
  font-size: 25px;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #DC0000;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-button:hover {
  background-color: #000000;
  color: white;
}